.card{
    background-color: #c76af1;
    height: 200px;
    width: 400px;
    margin: auto;
    margin-top: 10%;
    box-sizing: border-box;
    border-radius: 5px;
    
    
    
    }

h1{
    font-family: "Dancing Script", cursive;
    text-shadow: 2px 2px 8px rgb(37, 37, 37);
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
}

p{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgb(37, 37, 37);
    position: relative;
    bottom: 17px;
    padding-left: 40px;
}

ul{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    position: relative;
    bottom: 30px;
    padding-left: 50px;
    font-size: 0.9rem;
}

li{
    text-shadow: 2px 2px 8px rgb(37, 37, 37);
    
}

.telefone{
    list-style-image: url("./images/whatsapp.png");
}

.instagram{
    list-style-image: url("./images/instagram1.png");
}

.email{
    list-style-image: url("./images/email1.png");
}

.pelve{
    left: 240px;    
    position: relative;
    bottom: 210px;
}

a{
    text-decoration: none;
    color: black;
}
